
<p class="pull-right">
<small style="font-size:10px">
<a href="https://github.com/hasantayyar/getname">source on github</a> |
<a href="https://twitter.com/htayyar">@htayyar</a>
</small>
</p>

 
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $(".pick").click(function(){
    var gender = $(this).attr("rel");
    document.location.href = '/rand/'+gender;
    if(typeof ga !== "undefined"){
      ga('send', 'event', 'gender', 'click_mainpage', encodeURIComponent(gender)); 
    }
  });
});
</script>

 

</body>
</html>
