<% include header %>

<div class="jumbotron">
    <h1>Generate a name</h1>
    <hr>
    	
    <p class="gender">
      <button type="button" class="btn-lg btn-danger pick" title="Kadın ismi" rel="Kız">♀</button> 
      <button type="button" class="btn-lg btn-success pick" title="Erkek ismi" rel="Erkek">♂</button> 
      <!-- @todo add unisex option -->
    </p>
    <p>
      <!-- not implemented yet -->
      <!--
      <div class="bs-example" style="margin-bottom: 15px;">
        <div class="btn-toolbar" style="margin: 0;">
          <div class="btn-group">
            <button type="button" class="btn btn-default">English</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#tr" class="selected">Türkçe</a></li>
              <li><a href="#en">English</a></li>
              <li class="divider"></li>
              <li><a href="#">Any language</a></li>
            </ul>
          </div>
        </div>
      </div>
      -->
    </p>
  </div>

<% include footer %>
